/.idea/
/.dockerignore
/Dockerfile
/fly.toml
/config/
/vendor/

# add any file ending with _templ.go
*_templ.go
*_templ.txt
*conf.json
log
client_secret.json
token.json
/.env
/tmp/
.air.toml
/cmd/gobs-client/gobs.txt
