
[center][img]https://i.imgur.com/UgirI1p.png[/img][/center]

[center][size=16][u][b]RESULTADO:[/b][/u][/size]
[b]Puntos de dados:[/b] - {{.DiceScoreSum}}
[b]Puntos de Penalización:[/b] - {{.ModeratorMalus}}
[b]Puntos de moderador:[/b] - {{.ModeratorBonus}}
[b]Puntos de logros:[/b] - {{.PlayersTotalBonus}}
[b]Puntos totales:[/b] - {{.TotalScore}}
[b]Puntos requeridos:[/b] - {{.TargetScore}}


[size=24]¡FELICIDADES {{.Player1}} & {{.Player2}}![/size]
¡Poción exitosa!

{{.PotionIcon}}[/center]

[spoiler="Premios"]
[b]@"{{.Player1}}" :[/b]
{{.PotionIcon}}
+ 300 Galeones
+ 300 Puntos para {{.Player1House}}

[b]@"{{.Player2}}":[/b]
{{.PotionIcon}}
+ 300 Galeones
+ 300 Puntos para {{.Player2House}}
[/spoiler]