package user

import (
    "localdev/dobby-server/internal/app/dobby-server/view/layout"
)

templ Login(secret1 string, secret2 string) {
    @layout.Base() {
        <h1> Hola {secret1}! </h1>
        <h1> Hola {secret2}! </h1>
    }
}