package user

import (
    "localdev/dobby-server/internal/app/dobby-server/model"
    "localdev/dobby-server/internal/app/dobby-server/view/layout"
)

templ Show(user model.User){
    @layout.Base() {
        <h1> Hola {user.Username}! </h1>
    }
}