[center][img]https://i.imgur.com/UgirI1p.png[/img][/center]


[size=24]¡Cámara de creación fallida![/size]

@"{{.RewardedPlayer}}"
+ {{.RewardedPlayerGoldAmount}} Galeones
+ {{.RewardedPlayerHousePoints}} puntos para {{.RewardedPlayerHouse}}

[/center]
[spoiler="Consideraciones"]
[list]
[*]El usuario @"{{.PenalizedPlayer}}" editó un mensaje con dado y según las normas:[i]"No se pueden borrar ni editar los mensajes si estos incluyen dados."[/i]; la edición de dados culminará en Cámara de Creación fallida.
[*]Se recomienda leer:  [url=https://www.hogwartsrol.com/t24-001-normas-del-foro]Normas del foro[/url]
[*]Se procede a cerrar el tema. El usuario @"{{.PenalizedPlayer}}" será sancionado sin poder inscribirse en la Cámara de Creación durante una semana, una amonestación con tarjeta amarilla ,-100 galeones y -100 puntos para {{.PenalizedPlayerHouse}}.
[/list]
[/spoiler]



