
[center][img]https://i.imgur.com/UgirI1p.png[/img][/center]

[center][size=16][u][b]RESULTADO:[/b][/u][/size]
[b]Puntos de dados:[/b] - puntos
[b]Puntos de Penalización:[/b] - puntos
[b]Puntos de moderador:[/b] - puntos
[b]Puntos de logros:[/b] - puntos
[b]Puntos totales:[/b] - puntos
[b]Puntos requeridos:[/b] - puntos


[size=24]¡FELICIDADES JUGADOR 1 & JUGADOR 2![/size]
<Imagen de Moderación />

<Item de Hechizo o Poción aquí />[/center]

[spoiler="Premios"][b]@ :[/b]
Item de Hechizo/Poción aquí
+ 300 galeones
+300 Casa

[b]@ :[/b]
Item de Hechizo/Poción aquí
+ 300 galeones
+ 300 Casa[/spoiler]